.header {
  position: relative;

  z-index: 1;
  color: var(--white);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    z-index: 1;
  }

  &__logo {
    width: 124px;
    height: 34px;
    flex: 0 0 auto;
  }

  &__login-button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 124px;
    flex: 0 0 auto;
  }
}